@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,400;0,900;1,100;1,900&display=swap");
#bank {
    background-color: orange;
    overflow-x: scroll;
    white-space: nowrap;
    min-height: 290px;
}

.tg {
    background-color: #dddddd;
    white-space: nowrap;
    min-height: 290px;
}

.tile {
    background-color: #eeeeee;
    width: 240px;
    height: 270px;
    text-align: center;
    display: inline-block;
    margin: 10px;
}

.tc {
    width: 240px;
    height: 240px;
    display: table-cell;
    vertical-align: middle;
}

.tile img {
    max-width: 220px;
* {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}
